<md-content ng-cloak dir="rtl" layout-padding>
  <form name="newRecipe" ng-submit="vm.save()">
    <div class="md-dialog-content" layout="column">
      <md-input-container>
        <label>שם</label>
        <input ng-model="vm.recipe.title" type="text"></input>
      </md-input-container>
      <md-input-container>
        <label>אופן הכנה</label>
        <textarea ng-model="vm.recipe.desc" type="text"></textarea>
      </md-input-container>
      <md-input-container>
        <label>מצרכים</label>
        <textarea ng-model="vm.recipe.ingrediant" type="text"></textarea>
      </md-input-container>
      <md-input-container>
        <label>הערות</label>
        <textarea ng-model="vm.recipe.remarks" type="text"></textarea>
      </md-input-container>
    </div>

    <div layout="row" class="recipe-images-list-container">
      <div layout="column" layout-align="center center" style="margin-top:7px;">
        <md-button ng-click="vm.selectImage()" class="md-hue-3 square-button">
          <md-icon md-font-icon="fa fa-plus"></md-icon>
        </md-button>
      </div>
      <div layout="row" class="recipe-image-list" ng-hide="!vm.recipe.images">
        <div bg-image="{{image}}" ng-repeat="image in vm.recipe.images track by $index" class="recipe-image"></div>
      </div>
    </div>

    <div layout="column">
      <div layout="row">
        <md-button type="submit" class="md-raised md-hue-1" flex>
          <md-icon md-font-icon="fa fa-floppy-o"></md-icon>
          שמור
        </md-button>
      </div>
      <div layout="row">
        <md-button ui-sref="home" class="md-raised md-hue-1" flex>
          <md-icon md-font-icon="fa fa-ban"></md-icon>
          בטל
        </md-button>
      </div>
    </div>
  </form>
</md-content>