<md-dialog ng-cloak dir="rtl">
  <form name="newRecipe" ng-submit="vm.save()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>מתכון חדש</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.close()">
          <md-icon md-font-icon="fa fa-times fa-2x"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <md-input-container>
          <label>שם</label>
          <input ng-model="vm.recipe.title" type="text"></input>
        </md-input-container>
        <md-input-container>
          <label>אופן הכנה</label>
          <textarea ng-model="vm.recipe.desc" type="text"></textarea>
        </md-input-container>
        <md-input-container>
          <label>מצרכים</label>
          <textarea ng-model="vm.recipe.ingrediant" type="text"></textarea>
        </md-input-container>
        <md-input-container>
          <label>הערות</label>
          <textarea ng-model="vm.recipe.remarks" type="text"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="center">
      <md-button type="submit" class="md-raised md-hue-1" flex>
        <md-icon md-font-icon="fa fa-floppy-o"></md-icon>
        שמור
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>